body{
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    background-color: #f8f8f8;
}

li{
    list-style-type: square;
    line-height: 1.6em;
}

table{
    border-spacing: 0px;
}

th,td{
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
    text-align: left;
    background-color: #e0e9f0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}

tr.head th{
    color: #ffffff;
    background-color: #90b4d6;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    border-top: 2px solid #666;
    text-align: center;
    text-shadow: -1px -px 1px #666;
    letter-spacing: 0.15em;
}

tr.head th:first-child{
    -webkit-border-top-left: 5px ;
    -webkit-border-radius-topleft: 1px ;
    border-top-left-radius: 5px;
}

tr.head th:last-child{
    -webkit-border-top-right: 5px ;
    -webkit-border-radius-topright: 1px ;
    border-top-right-radius: 5px;
}

td{
    text-shadow: 1px 1px 1px #fff;
}

tr.even td, tr.even th{
    background-color: aqua;
}

fieldset{
    width: 310px;
    margin-top: 20px;
    border: 1px solid #d666d6;
    background-color: #ffffff;
    line-height: 1.6em;
}

legend{
    font-style: italic;
    color: red;
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px ;
    outline: none;
    border-radius: 10px;
}

input[type="text"]:focus, 
input[type="text"]:hover{
    width: 120px;
    border: 1px solid #666;
    padding: 5px ;
    outline: none;
    border-radius: 10px;
}

input[type="submit"]{
    color: #555;
    border: 1px solid #006633;
    background-color: #00CC33;
    padding: 5px ;
    border-radius: 5px ; 
    margin-top: 10px;
}

input[type="submit"]:hover{
    color: red;
    border: 1px solid #006633;
    background-color: blue;   
    cursor: pointer;
}

.title{
    float: left;
    width: 160px;
    clear: left;
}

.submit{
    width: 310px;
    text-align: right;
}

.location{
    border: #006633;
    border-radius: 5px;
    color: red;
    cursor: pointer;
}
