body{
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.15em;
    background-color: #c5b1b1;
}

#page{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding:  20px;
    border: 4px double #c54444;
    background-color: #ffffff;
}

#logo{
    width: 150px;
    margin: 10px auto 25px auto;
    
}

ul{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    text-align: center;
    background-color: aqua;
    border-top:2px solid black ;
    border-bottom: 1px solid black;
}

li{ 
    display: inline;
    margin: 0px 3px;
}

p>img{
    width: 600px;
}

p{
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
}

a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 10px 5px 18px;
}

a:hover{
    background-color: blue;
}